In [2]:
import datetime as dt
from datetime import date
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import time
from sklearn.preprocessing import MinMaxScaler

from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout

In [129]:
df = pd.read_csv('QQQ_2005-02-08_to_2020-05-29.csv')

def format_data(df,start, end):
    training_data = df[start:end].drop('Date', axis = 1)
    return(training_data)
        

def create_xy_train(training_data, samples_in, forecast_out):
    scaler = MinMaxScaler()
    x = []
    y = []
    L = len(training_data)
    training_data = scaler.fit_transform(training_data)
    
    for i in range(samples_in, L-20):
        x.append(training_data[i-samples_in:i])
        y.append(training_data[i+1:i+forecast_out, 0])
        
    return( [np.array(x),np.array(y)])

def create_xy_train_actual(training_data, samples_in, forecast_out):
    scaler = MinMaxScaler()
    x = []
    y = []
    L = len(training_data)
    training_data = scaler.fit_transform(training_data)
    
    for i in range(samples_in, L-20):
        x.append(training_data[i-samples_in:i])
        y.append(training_data[i+1:i+forecast_out, 0])

    return( [np.array(x),np.array(y)/(scaler.scale_[0])])
create_xy_train_actual(training_data, 100, 20)[1][0]

array([11.55000114, 11.37000084, 11.5000019 , 12.21000099, 12.55999946,
       12.73999977, 12.82999992, 13.21000099, 13.32999992, 13.17000007,
       13.62000084, 13.89999961, 13.91000175, 13.8599987 , 13.71000099,
       13.8599987 , 14.16000175, 14.35000038, 14.02000236])

In [148]:
df = pd.read_csv('QQQ_2005-02-08_to_2020-05-29.csv')
df = df.drop('Date', axis = 1)
scaler = MinMaxScaler()
df = scaler.fit_transform(df)

In [153]:
scaler.scale_

array([4.72992157e-03, 1.64016972e-09, 1.00000000e-02, 2.42692429e-01,
       4.14189472e+00, 4.88313543e-03, 5.01476928e-03])

In [151]:
close_price = []
for i in range(df.shape[0]):
    close_price.append(df[i][0]/scaler.scale_[0])

In [161]:
df[0]

array([0.05761046, 0.10782869, 0.64251135, 0.19386755, 0.50384567,
       0.0498967 , 0.04883672])

In [162]:
df[2999]

array([0.45582255, 0.02787468, 0.63944532, 0.22988162, 0.53247194,
       0.4522695 , 0.45752856])

In [158]:
df[2999][0]/df[0][0]

7.912149699848045

In [159]:
121.93/37.74

3.230789613142554

In [130]:
training_data[]

,Close,Volume,RSI,pct change volume,pct change price,12 EMA,26 EMA
0,37.740002,72821700,64.251135,0.017754,0.001858,37.497016,37.846538
1,37.110001,93276600,50.188719,0.280890,-0.016693,37.534398,37.838647
2,37.150002,110373000,54.581722,0.183287,0.001078,37.469106,37.784673
3,37.700001,108684100,55.813926,-0.015302,0.014805,37.420013,37.737660
4,37.869999,54908900,56.653951,-0.494784,0.004509,37.463088,37.734871
...,...,...,...,...,...,...,...
2995,118.480003,41749000,37.330367,2.146712,-0.010275,119.865931,119.163692
2996,119.540001,22307600,44.489021,-0.465673,0.008947,119.652711,119.113048
2997,120.190002,19749100,46.525086,-0.114692,0.005438,119.635371,119.144674
2998,120.870003,20644300,53.552898,0.045329,0.005658,119.720699,119.222106
2999,121.930000,24074300,63.944532,0.166148,0.008770,119.897515,119.344173

In [93]:
training_data = format_data(df, 0, 3000)
x_train = create_xy_train(training_data, 100, 20)[0]
y_train = create_xy_train(training_data, 100, 20)[1]

In [113]:
create_xy_train_actual(training_data, 100, 20)[1][0]

array([11.55000114, 11.37000084, 11.5000019 , 12.21000099, 12.55999946,
       12.73999977, 12.82999992, 13.21000099, 13.32999992, 13.17000007,
       13.62000084, 13.89999961, 13.91000175, 13.8599987 , 13.71000099,
       13.8599987 , 14.16000175, 14.35000038, 14.02000236])

0.01037667314918918

In [5]:
#create x train and y train
L = len(training_data)

x = []
y = []
Y = []
for i in range(100, L-20):
    x.append(training_data[i-100:i])
    y.append(training_data[i+1:i+20,0])
    
x_train = np.array(x)    
y_train = np.array(y)

In [88]:
y_train.shape

(2880, 19)

In [76]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout

In [6]:
hyparam ={'loss':'mean_squared_error',
         'opt':'Adam',
         'epochs': 10,
         'batch_size':32}

regressor = Sequential()

regressor.add(LSTM(units = 50, activation = 'relu', return_sequences = True, input_shape = (x_train.shape[1], 7)))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 60, activation = 'relu', return_sequences = True))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 80, activation = 'relu', return_sequences = True))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 120, activation = 'relu'))
regressor.add(Dropout(0.2))

regressor.add(Dense(units=19))

regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')

regressor.fit(x_train, y_train, epochs = 10, batch_size = 32)

Train on 2880 samples
Epoch 1/10
2880/2880 [==============================] - 28s 10ms/sample - loss: 1.8543
Epoch 2/10
2880/2880 [==============================] - 23s 8ms/sample - loss: 0.0090
Epoch 3/10
2880/2880 [==============================] - 24s 8ms/sample - loss: 0.0064
Epoch 4/10
2880/2880 [==============================] - 24s 8ms/sample - loss: 0.0053
Epoch 5/10
2880/2880 [==============================] - 24s 8ms/sample - loss: 0.0045
Epoch 6/10
2880/2880 [==============================] - 24s 8ms/sample - loss: 0.0040
Epoch 7/10
2880/2880 [==============================] - 24s 8ms/sample - loss: 0.0039
Epoch 8/10
2880/2880 [==============================] - 24s 8ms/sample - loss: 0.0038
Epoch 9/10
2880/2880 [==============================] - 24s 8ms/sample - loss: 0.0032
Epoch 10/10
2880/2880 [==============================] - 24s 8ms/sample - loss: 0.0032

In [ ]:
#regressor.save('2020-06-21-1130_LSTM-100_to_19.model')

In [94]:
inputs = scaler.transform(training_data)

#create x train and y train
L = len(training_data)
x = []
y = []
Y = []
for i in range(100, L-20):
    x.append(inputs[i-100:i])
    y.append(inputs[i+1:i+20,0])
    
x_train = np.array(x)    
y_train = np.array(y)

In [42]:
y_train[0]

array([0.11985059, 0.11798278, 0.11933176, 0.12669919, 0.13033101,
       0.13219881, 0.13313272, 0.13707586, 0.13832105, 0.13666079,
       0.1413303 , 0.14423575, 0.14433954, 0.14382068, 0.1422642 ,
       0.14382068, 0.14693371, 0.14890526, 0.14548098])

In [ ]:
x_test1

In [24]:
#df_test[0:100] # corresponds to 10 jan 2017 to 2 jun 2017
#df_test[101:120] # corresponds to 6 jun 2017 to 30 jun 2017
x_test1 = testing_data[0:100]
y_test1 = testing_data[101:120]

In [25]:
x_test1 = scaler.transform(x_test1)

In [29]:
x_test1 = x_test1.reshape(1, x_test1.shape[0], x_test1.shape[1])

In [ ]:
y

In [167]:
y_pred = regressor.predict(x_test1)

In [168]:
y_pred

array([[1.0250063, 1.0011141, 1.0216488, 1.0214561, 1.0148932, 1.0231538,
        1.0325236, 1.0137248, 1.0006224, 1.0185351, 1.0206178, 1.0196425,
        1.0202084, 1.0338695, 1.0198485, 1.0308062, 1.0283109, 1.024464 ,
        1.0226136]], dtype=float32)

In [33]:
scaler.scale_

array([1.03766731e-02, 1.64016972e-09, 1.00000000e-02, 2.42692429e-01,
       4.73475343e+00, 1.07969595e-02, 1.09605602e-02])

In [34]:
y_pred = y_pred/1.03766731e-02

In [35]:
y_pred

array([[98.779854, 96.47737 , 98.45629 , 98.43773 , 97.80525 , 98.60133 ,
        99.5043  , 97.69266 , 96.42998 , 98.156235, 98.35694 , 98.26295 ,
        98.31748 , 99.634   , 98.2828  , 99.33879 , 99.09832 , 98.7276  ,
        98.54928 ]], dtype=float32)

In [166]:
testing_data[101:120]

,Close,Volume,RSI,pct change volume,pct change price,12 EMA,26 EMA
3102,142.860001,22393000,87.051661,0.423812,-0.003974,141.004187,139.038766
3103,143.419998,18842400,86.841967,-0.158558,0.003920,141.289697,139.321820
3104,143.570007,25417400,83.333203,0.348947,0.001046,141.617435,139.625389
3105,139.979996,109783700,41.436469,3.319234,-0.025005,141.917831,139.917583
3106,139.229996,104454000,36.594729,-0.048547,-0.005358,141.619702,139.922206
3107,140.360001,51193000,44.804535,-0.509899,0.008116,141.252055,139.870931
3108,139.750000,60093800,38.401848,0.173868,-0.004346,141.114816,139.907159
3109,139.130005,55145200,22.971359,-0.082348,-0.004436,140.904844,139.895517
3110,138.149994,48087400,20.535793,-0.127986,-0.007044,140.631792,139.838813
3111,140.460007,39626500,38.785120,-0.175948,0.016721,140.249977,139.713715
3112,139.360001,40935100,31.939595,0.033023,-0.007831,140.282289,139.768996
3113,140.740005,35743400,38.652802,-0.126828,0.009902,140.140399,139.738700
3114,140.699997,24099100,54.035861,-0.325775,-0.000284,140.232646,139.812871
3115,141.240005,21654300,61.538448,-0.101448,0.003838,140.304546,139.878584
3116,140.580002,34411100,51.334951,0.589112,-0.004673,140.448463,139.979430
3117,138.029999,65957800,41.552101,0.916759,-0.018139,140.468700,140.023917
3118,140.020004,57427200,53.852790,-0.129334,0.014417,140.093515,139.876219
3119,137.589996,88769400,47.846173,0.545773,-0.017355,140.082206,139.886870
3120,137.639999,68898300,36.871537,-0.223851,0.000363,139.698789,139.716731

In [39]:
testing_data[90:100]

,Close,Volume,RSI,pct change volume,pct change price,12 EMA,26 EMA
3091,137.839996,36730100,50.000000,-0.111080,0.004226,137.508280,136.106220
3092,139.000000,19509700,54.249970,-0.468836,0.008416,137.559313,136.234648
3093,139.139999,19687500,54.590615,0.009113,0.001007,137.780957,136.439489
3094,139.779999,15891900,58.672927,-0.192792,0.004600,137.990041,136.639526
3095,140.970001,23928600,62.513213,0.505710,0.008513,138.265419,136.872154
3096,141.220001,13851600,61.745753,-0.421128,0.001773,138.681509,137.175698
3097,141.339996,20306400,59.750599,0.465997,0.000850,139.072046,137.475276
3098,141.289993,33229400,99.060092,0.636400,-0.000354,139.420961,137.761552
3099,141.839996,20120700,98.931561,-0.394491,0.003893,139.708505,138.022918
3100,143.460007,37222900,99.125823,0.849980,0.011421,140.036426,138.305664