In [1]:
import datetime as dt
from datetime import date
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import time
from sklearn.preprocessing import MinMaxScaler

from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout

In [16]:
def format_data(df,start, end):
    training_data = df[start:end].drop('Date', axis = 1)
    return(training_data)
        

def create_xy(training_data, samples, forecast):
    x = []
    y = []
    L = len(training_data)
    samples = 100
    forecast = 20

    for i in range(samples, L - forecast):
        x.append(np.array(training_data[i-samples:i]))
        y.append(np.array(training_data[i+1:i+1+forecast]['pct chage price']))
    x = np.array(x)
    y = np.array(y)
    
    return([x,y])

end = dt.datetime(2020,6,21)
start = dt.datetime(2005,1,1)

def ticker_df(ticker, start, end):
    source = 'yahoo'
    df = web.DataReader(ticker, source, start, end)
    return df.drop(['High', 'Low', 'Open', 'Adj Close'], axis = 1)

SPY = ticker_df('SPY', start, end)
IWM = ticker_df('IWM', start, end)
QQQ = ticker_df('QQQ', start, end)
VXX = ticker_df('VXX', start, end)

In [26]:
#QQQ.drop(['Volume'], axis = 1, inplace = True)
QQQ2 = QQQ.copy(ignore_index = True)

TypeError: copy() got an unexpected keyword argument 'ignore_index'

In [27]:
a = list(QQQ['Close'])

In [29]:
a.append(0)

In [39]:
a[3890:]

[243.6199951171875, 244.27999877929688, 244.24000549316406, 0]

In [53]:
y_pred = pred(x_test)

In [64]:
def pred(input):
    return np.sum(np.array(input[-60:])/60)

In [89]:
# predict
forecast = 20
for i in range(forecast):
    
    y_pred = pred(QQQ)
    new_row ={'Close':y_pred}
    QQQ = QQQ.append(new_row, ignore_index = True,)

In [76]:
new_row = A[-1:]

In [78]:
QQQ.tail()

                 Close
Date
2020-06-15  238.750000
2020-06-16  242.850006
2020-06-17  243.619995
2020-06-18  244.279999
2020-06-19  244.240005

In [90]:
QQQ.tail()

           Close
3933  230.113101
3934  230.120653
3935  230.138664
3936  230.136142
3937  230.138578